body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.salary-button {
    border-radius: 20px !important;
    margin-left: 20px;
    margin-top: 20px;
}

.button-section {
    float: right;
}

.salary-input {
    width: 100% !important;
}

@media only screen and (max-width: 330px) {
    .salary-input-text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 260px) {
    .salary-input-text {
        font-size: 25px;
    }
}

.salary-group {
    display: block !important;
}

@media only screen and (max-width: 550px) {
    .counter-text {
        font-size: 4em !important;
    }
}

@media only screen and (max-width: 380px) {
    .counter-text {
        font-size: 3em !important;
    }
}

@media only screen and (max-width: 260px) {
    .counter-text {
        font-size: 2em !important;
    }
}